[Unit]
Description=123\SmartBMS Monitor TimeStream push

[Service]
Type=simple
User=pi
ExecStart=python -m smartbms_monitor.monitor
Restart=always
RestartSec=5
StartLimitBurst=5
StartLimitInterval=1m
StartLimitAction=reboot

[Install]
WantedBy=multi-user.target
